{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load static %}

{% block content %}
    <div class="panlel panel-default form-horizontal">
    <div class="panel-body">
            <div class="page-header"><h3>Change Password for user '{{ user_data.user_name }}'</h3></div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_old_password">Old password:</label>
                <div class="col-sm-4">
                    <input name="old_password" value="" id="id_old_password" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_new_password">New Password:</label>
                <div class="col-sm-4">
                    <input name="new_password" value="" id="id_new_password" type="password" class="form-control">
                    <div class="help">
                        <ul>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_email">Confirm Password:</label>
                <div class="col-sm-4">
                    <input name="confirm_password" value="" id="id_confirm_password" type="password" class="form-control">
                    <span id='confirm_message'></span>
                </div>
            </div>
        <input type="submit" class="btn btn-primary pull-right password-save">
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/user_group.js"></script>
    <script>
    $('#id_new_password, #id_confirm_password').on('keyup', function () {
        if ($('#id_new_password').val().length >= 8){
        if ($('#id_new_password').val() == $('#id_confirm_password').val()) {
            $('#confirm_message').html('Matching').css('color', 'green');
    }
        else{
            $('#confirm_message').html('Not Matching').css('color', 'red');
            }
    }});

    $('.password-save').on('click', function () {
            var data = {
                'post_url': "{% url 'change_password' user_data.id  %}",
                'success_url': "{% url 'logout' %}",
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            change_password(data);
        });
    </script>
{% endblock %}