{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% load static %}

{% block content %}
    <div class="panel-body">
            <div class="page-header"><h3>Change Password for user '{{ user_data.user_name }}'</h3></div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_old_password">Old password:</label>
                <div class="col-sm-4">
                    <input name="old_password" value="" id="id_old_password" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_new_password">New Password:</label>
                <div class="col-sm-4">
                    <input name="new_password" value="" id="id_new_password" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_email">Confirm Password:</label>
                <div class="col-sm-4">
                    <input name="confirm_password" value="" id="id_confirm_password" type="password" class="form-control">
                </div>
            </div>
        </div>
{% endblock %}

{% block javascript %}
{% endblock %}